openapi: 3.0.3
info:
  title: Vinaadi AI API
  version: 1.0.0
  description: MVP API for Thirukanitham Tamil astrology companion with Family Aggregate Fortune in MVP 1.
servers:
  - url: https://api.jothidam.ai/api/v1
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        success: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }
    SuccessEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { type: object }
        meta: { type: object }
paths:
  /birth-profiles:
    post:
      summary: Create birth profile for self or family member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [displayName, birthDateLocal, birthPlace, birthLatitude, birthLongitude, birthTimezone]
              properties:
                ownerUserId: { type: string, format: uuid }
                familyVaultId: { type: string, format: uuid, nullable: true }
                relationshipToOwner: { type: string, enum: [self, spouse, child, parent, sibling, grandparent, other] }
                displayName: { type: string }
                birthDateLocal: { type: string, format: date }
                birthTimeLocal: { type: string, example: '06:30:00', nullable: true }
                birthPlace: { type: string }
                birthLatitude: { type: number }
                birthLongitude: { type: number }
                birthTimezone: { type: string, example: Asia/Kolkata }
                birthTimeConfidenceMinutes: { type: integer }
                calculateNow: { type: boolean, default: true }
      responses:
        '200': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/SuccessEnvelope' } } } }
  /birth-profiles/{birthProfileId}:
    get:
      summary: Get birth profile
      parameters:
        - in: path
          name: birthProfileId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Birth profile }
  /charts/calculate:
    post:
      summary: Calculate D1/D9 and core chart snapshot
      responses:
        '200': { description: Chart calculated }
  /charts/{chartId}/summary:
    get:
      summary: Get chart summary
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: language
          schema: { type: string, enum: [ta, en, ta-en] }
      responses:
        '200': { description: Chart summary }
  /panchangam/daily:
    get:
      summary: Get city-specific daily Panchangam
      parameters:
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
        - in: query
          name: lat
          required: true
          schema: { type: number }
        - in: query
          name: lng
          required: true
          schema: { type: number }
        - in: query
          name: timezone
          required: true
          schema: { type: string }
      responses:
        '200': { description: Panchangam }
  /panchangam/timings:
    get:
      summary: Get Panchangam timing windows
      parameters:
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
        - in: query
          name: lat
          required: true
          schema: { type: number }
        - in: query
          name: lng
          required: true
          schema: { type: number }
        - in: query
          name: timezone
          required: true
          schema: { type: string }
      responses:
        '200': { description: Panchangam timing windows }
  /charts/{chartId}/dasha:
    get:
      summary: Get Dasha timeline and active period
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: level
          schema: { type: string, enum: [maha, antar, pratyantar, sookshma, prana] }
        - in: query
          name: asOf
          schema: { type: string, format: date }
      responses:
        '200': { description: Dasha timeline }
  /charts/{chartId}/gochar/current:
    get:
      summary: Get current transits from Moon and Lagna
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: datetime
          schema: { type: string, format: date-time }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Current Gochar }
  /charts/{chartId}/sani-cycle:
    get:
      summary: Get current Saturn cycle status
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: date
          schema: { type: string, format: date }
      responses:
        '200': { description: Sani cycle }
  /charts/{chartId}/daily-guidance:
    get:
      summary: Get individual daily 0-100 guidance score
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
      responses:
        '200': { description: Daily guidance }
  /daily-guidance/range:
    get:
      summary: Get daily guidance range by birth profile
      parameters:
        - in: query
          name: profileId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: from
          required: true
          schema: { type: string, format: date }
        - in: query
          name: to
          required: true
          schema: { type: string, format: date }
      responses:
        '200': { description: Daily guidance range }
  /family-vaults:
    get:
      summary: List family vaults for an owner
      parameters:
        - in: query
          name: ownerUserId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: offset
          schema: { type: integer, default: 0, minimum: 0 }
      responses:
        '200': { description: Family vault list }
    post:
      summary: Create family vault
      responses:
        '200': { description: Family vault created }
  /family-vaults/{familyVaultId}:
    get:
      summary: Get family vault metadata
      parameters:
        - in: path
          name: familyVaultId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Family vault metadata }
  /family-vaults/{familyVaultId}/members:
    post:
      summary: Add family member with birth profile
      parameters:
        - in: path
          name: familyVaultId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [displayName, birthDateLocal, birthPlace, birthLatitude, birthLongitude, birthTimezone]
              properties:
                ownerUserId: { type: string, format: uuid }
                familyVaultId: { type: string, format: uuid, nullable: true }
                relationshipToOwner: { type: string, enum: [self, spouse, child, parent, sibling, grandparent, other] }
                displayName: { type: string }
                birthDateLocal: { type: string, format: date }
                birthTimeLocal: { type: string, example: '06:30:00' }
                birthPlace: { type: string }
                birthLatitude: { type: number }
                birthLongitude: { type: number }
                birthTimezone: { type: string, example: Asia/Kolkata }
                birthTimeConfidenceMinutes: { type: integer }
                calculateNow: { type: boolean, default: true }
                memberWeight: { type: number, default: 1.0 }
      responses:
        '200': { description: Family member created }
  /family-vaults/{familyVaultId}/daily-aggregate:
    get:
      summary: Get Family Aggregate Fortune dashboard for a date
      parameters:
        - in: path
          name: familyVaultId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
      responses:
        '200': { description: Family aggregate fortune }
  /family-vaults/{familyVaultId}/summary:
    get:
      summary: Get family summary card for a date
      parameters:
        - in: path
          name: familyVaultId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
      responses:
        '200': { description: Family summary card }
  /family-vaults/{familyVaultId}/calendar:
    get:
      summary: Get family aggregate fortune calendar
      parameters:
        - in: path
          name: familyVaultId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: from
          required: true
          schema: { type: string, format: date }
        - in: query
          name: to
          required: true
          schema: { type: string, format: date }
      responses:
        '200': { description: Family aggregate calendar }
  /notifications/preview:
    post:
      summary: Preview notification triggers for a date
      x-status: deferred
      description: Deferred in MVP 1. Keep path reserved for MVP 2 notification simulation.
      responses:
        '200': { description: Notification preview }
  /qa/validate-golden-case:
    post:
      summary: Validate engine against a golden case
      responses:
        '200': { description: QA result }
  /health:
    get:
      summary: Service health check
      responses:
        '200': { description: Health status }
  /auth/register:
    post:
      summary: Register a user and create auth cookie session
      responses:
        '200': { description: User registered }
  /auth/login:
    post:
      summary: Login and create auth cookie session
      responses:
        '200': { description: Login success }
  /auth/logout:
    post:
      summary: Logout and clear auth cookie session
      responses:
        '204': { description: Logged out }
  /auth/me:
    get:
      summary: Get current authenticated user session
      responses:
        '200': { description: Current user }
  /auth/forgot-password:
    post:
      summary: Request password reset email
      responses:
        '200': { description: Reset request accepted }
  /context:
    post:
      summary: Save current user context signal for daily guidance
      responses:
        '200': { description: Context saved }
    get:
      summary: Fetch current active context signal
      responses:
        '200': { description: Context data }
  /decisions/brief:
    post:
      summary: Decision support brief using triple-confirmation logic
      responses:
        '200': { description: Decision brief }
  /feedback:
    post:
      summary: Submit in-app feedback
      responses:
        '200': { description: Feedback received }
    get:
      summary: List submitted feedback (admin)
      responses:
        '200': { description: Feedback list }
  /journal:
    post:
      summary: Create journal entry
      responses:
        '200': { description: Journal entry created }
    get:
      summary: List journal entries
      responses:
        '200': { description: Journal entries }
  /journal/{journalId}:
    patch:
      summary: Update journal entry
      parameters:
        - in: path
          name: journalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Journal entry updated }
    delete:
      summary: Soft-delete journal entry
      parameters:
        - in: path
          name: journalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Journal entry deleted }
  /journal/retention/apply:
    post:
      summary: Apply journal retention policy now
      responses:
        '200': { description: Retention applied }
  /journal/prompts:
    get:
      summary: Fetch contextual journal prompts
      responses:
        '200': { description: Prompts response }
  /journal/export:
    get:
      summary: Export journal entries
      responses:
        '200': { description: Journal export }
  /goals:
    post:
      summary: Add an active user goal
      responses:
        '200': { description: Goal added }
    get:
      summary: List active goals for chart
      responses:
        '200': { description: Goal list }
  /goals/{goalId}:
    delete:
      summary: Deactivate an active goal
      parameters:
        - in: path
          name: goalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Goal deactivated }
  /charts/{chartId}/life-areas:
    get:
      summary: Get life-area scores and narrative
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Life area response }
  /whatif:
    post:
      summary: Run what-if simulation for a target date and scenario
      responses:
        '200': { description: What-if response }
  /relationships/alerts:
    get:
      summary: List relationship-based ambient alerts for a family vault
      responses:
        '200': { description: Relationship alerts }
  /relationships/{memberId}/synastry:
    get:
      summary: Compute synastry snapshot with selected member
      parameters:
        - in: path
          name: memberId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Synastry response }
  /retrospective:
    post:
      summary: Create retrospective entry from past event
      responses:
        '200': { description: Retrospective created }
    get:
      summary: List retrospectives for chart
      responses:
        '200': { description: Retrospective list }
  /retrospective/{retrospectiveId}:
    get:
      summary: Get retrospective by id
      parameters:
        - in: path
          name: retrospectiveId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Retrospective response }
  /settings/journal:
    get:
      summary: Get journal retention settings
      responses:
        '200': { description: Journal settings }
    patch:
      summary: Update journal retention settings
      responses:
        '200': { description: Journal settings updated }
  /alerts/ambient:
    get:
      summary: List ambient alerts (Peyarchi and relationship)
      responses:
        '200': { description: Ambient alerts }
  /charts/{chartId}/peyarchi:
    get:
      summary: Get upcoming peyarchi events for chart
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Peyarchi events }
  /charts/{chartId}/peyarchi/upcoming:
    get:
      summary: Get peyarchi events within request window
      parameters:
        - in: path
          name: chartId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Upcoming peyarchi events }
  /qa/validate:
    get:
      summary: Run full internal golden regression suite
      responses:
        '200': { description: QA validation report }
  /qa/regressions:
    get:
      summary: List stored regression failures
      responses:
        '200': { description: Regression report }
    delete:
      summary: Clear all stored regression failures
      responses:
        '200': { description: Regression store cleared }
  /qa/regressions/{testId}:
    delete:
      summary: Clear one stored regression failure
      parameters:
        - in: path
          name: testId
          required: true
          schema: { type: string }
      responses:
        '200': { description: Regression cleared }
